{% extends "base.html" %}

{% block title %} Home Page {% endblock %}

{% block content %}

    <p>Some data to be filled with beautifulsoup later</p>
    <div class="row">
        <div class="col text-left">
            <div class="row text-left">
                <form action="/sort/" method="POST">
                    {% csrf_token %}
                    <label for="sort">Sort by:</label>
                    <select id="sort" name="sort">
                        <option value="author">Author</option>
                        <option value="title">Title</option>
                    </select>
                    <button type="submit" class="btn btn-warning">Sort</button>
                </form>
                <a href="">
                    <button class="btn btn-outline-primary">Update</button>
                </a>
            </div>
        </div>
        <div class="col text-right">
            <div>total number of articles from intercept: {{count}}</div>
        </div>
    </div>
    {% if articles %}
        <table class="table table-dark table-bordered table-hover">
          <thead>
            <tr>
              <th scope="col">Source</th>
              <th scope="col">Author</th>
              <th scope="col">Title</th>
            </tr>
          </thead>
          <tbody>
            {% for article in articles %}

                <tr>
                  <td>{{ article.source }}</td>
                  <td>{{ article.author }}</td>
                  <td>{{ article.title }}</td>
                </tr>

            {% endfor %}
          </tbody>
        </table>
    {% else %}
        <h3>No articles have been aggregated</h3>
    {% endif %}
{% endblock %}